{% extends 'Backbase.html.twig' %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Internships management
            </h1>
            <ol class="breadcrumb">
                <li><i class="fa fa-calendar"></i> Internships</li>
                <li class="active"><a href="{{ path("stage_back") }}">Internships management</a></li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-7">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <center> <h3 class="box-title">Internship</h3></center>
                        </div>
                        <div class="box-body">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            {{ form_end(form) }}
                        </div>

                    </div>
                </div>
                <!-- /.box -->
            </div>
        </section>
    </div>
{% endblock %}